---
import '../styles/global.css'
import Layout from '../layouts/Layout.astro'
import FaqAccordion from '../components/faqs-accordion.tsx'
import StarIcon from '/public/images/icon-star.svg?react'
---

<Layout title="FAQs">
  <div class="relative h-screen bg-light-pink">
    <img
      src="/images/background-pattern-mobile.svg"
      class="fixed z-0 w-full md:hidden"
    />
    <img
      src="/images/background-pattern-desktop.svg"
      class="fixed z-0 hidden w-full md:block"
    />
    <main class="grid h-full place-items-center overflow-auto p-6">
      <article
        class="relative w-full max-w-[37.5rem] rounded-lg bg-white p-6 pb-1 md:p-10 md:pb-4"
      >
        <header class="flex items-center gap-6 pb-1 leading-none md:pb-3">
          <StarIcon className="h-6 w-6 md:h-10 md:w-10" />
          <h1 class="text-[2rem] font-bold text-dark-purple md:text-[3.5rem]">
            FAQs
          </h1>
        </header>
        <FaqAccordion client:load />
      </article>
    </main>
  </div>
</Layout>

<style>
  article {
    box-shadow: 0px 32px 56px 0px rgba(80, 0, 118, 0.1);
  }
</style>
